/**
* Auth page styles
* This file contains styles specific to authentication pages such as login and signup.
*/
.auth-page{

    .auth-page-content{

        .auth-page-content-inner{

            .auth-page-left{
                // Left side styles
                background: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
                background-size: cover;
                background-position: center;

                .auth-page-left-cover{
                    background: rgba(0, 0, 0, 0.5);
                    padding: 2rem;
                    border-radius: 0px;
                    min-height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }

            .auth-page-right{
                // Right side styles
            }
        }
    }
}