/**
* Onboarding page styles
* This file contains styles specific to the onboarding pages.
*/
.onboarding-page{
    background: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    padding: 0px;

    .onboarding-page-inner{
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100%;
        padding: 0px;
    }
}